*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}