.container{
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
}

.main{
    width: 100%;
}

.imageContainer{
    width: 60%;
    margin: 0 auto;
}   

.image{
    width: 100%;
    margin-bottom: 10px;;
}

@media only screen and (min-width:770px){
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .imageContainer{
        width: 80%;
    }
}