.container{
    width: 100%;
}

.stars{
    font-size: 0.9rem;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
}

.name{
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.caracteristics{
    font-size: 1rem;
    font-weight: 400;
}

.price{
    margin-top: 20px;
    display: block;
    font-size: 2rem;
    font-weight: 400;
}

.button{
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 200;
}

.color{
    display: block;
    font-weight: 600;
    margin-top: 15px;
}

.color::after{
    content: "";
    display: block;
    height: 25px;
    width: 25px;
    border: 2px solid rgb(99, 206, 255);
    background-color: black;
    border-radius: 50%;
    margin-top: 5px;
}

.size{
    margin-top: 20px;
}

.size form{
    margin-bottom: 40px;
}

.size label{
    display: inline-block;
    padding: 10px 10px;
    font-weight: 300;
    border: 1px solid black;
    margin-right: 5px;
    font-size: 1rem;
    margin-top: 10px;
}

.size input{
    margin-right: 15px;
}

.sizeModal{
    color: red;
    display: block;
    font-weight: 600;
}

.time{
    display: inline-block;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.time svg{
    margin: 0 5px;
}

@media only screen and (min-width:770px){

    .container{
        position: sticky;
        
    }

    .caracteristics{
        
    }
}